@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.card-width {
  width: 50rem;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.card-title {
  padding-left: 4%;
  font-family: "Open Sans";
  font-size: 36px;
}

.card-text {
  padding: 4%;
  font-family: "Open Sans";
  font-size: 24px;
}
