@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.contact-container {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.contact-title {
  padding: 4%;
  font-family: "Open Sans";
  font-size: 36px;
}

.first-name {
  margin: 4%;
  width: 40%;
  border: 0px solid;
  border-bottom: 1px solid gray;
  outline: none;
}

.last-name {
  margin: 4%;
  width: 40%;
  border: 0px solid;
  border-bottom: 1px solid gray;
  outline: none;
}

.email {
  margin: 4%;
  width: 90%;
  border: 0px solid;
  border-bottom: 1px solid gray;
  outline: none;
}

.submit-btn {
  color: white;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 2%;
  width: 200px;
  height: 50px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.35));
  transform: rotate(-0.28deg);
  background: linear-gradient(132.73deg, #484848 25.99%, #000000 91.32%);
}
.contact-button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .contact-container {
    display: none;
  }
  .contact{
    text-decoration: none;
  }
  .contact-button {
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Open Sans";
    margin: 2%;
    width: 90%;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    transform: rotate(-0.28deg);
    background: linear-gradient(132.73deg, #484848 25.99%, #000000 91.32%);
  }
}
