.body {
  padding: 0px;
  margin: 0x;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
}

.headshot {
  width: 100%;
}

.madrigal {
  width: 100%;
}

.btn {
  height: 100%;
  width: 100%;
}
