.body{
  padding: 0px;
  margin: 0x;
}

.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 30rem;
}

.headshot{
  width: 30rem;
}

.madrigal{
  width: 30rem;
}

.btn{
  height: 30%;
  width: 100%;
}
