@import url("https://fonts.googleapis.com/css1?family=Open+Sans:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(20, 5%);
}

.left-column {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 15rem;
  margin-top: 10vh;
  grid-column: 2 / 3;
}

.right-column {
  margin-top: 10vh;
  grid-column:  7;
  width: 50vw;
  z-index: -1;
}

.about-us {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: 800px 500px;
}

.headshot-container{
  padding: 5%;
  grid-column: 2 / 3;
}

.info-container{
  grid-column: 12 / 20;
}

.builders-container{
  grid-column: 12 / 20;
  grid-row: 2;
  width: 40rem;
}

.builders-img{
  width: 100%;
}


